<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat Time!</title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<script src="http://code.jquery.com/jquery-latest.min.js"></script> 
	<script src="/javascripts/services/socketio-service.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>


		<input size="20" type="text" id="name" placeholder="Your name"></input>


	<div id="chat"></div>
	<form id="send-message">
		<input size="35" id="message" placeholder="Your message"></input>
		<input type="submit"></input>
	</form>

</body>
</html>